{% extends 'base.html' %}

{% block content %}
<div class="container my-3 card pb-3">

    <h1>Update User Form...</h1>
    {% if name %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy {{name}} ! {{email}}</strong> {{ message}}
        <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-mdb-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% else %}
    {% endif %}
    <form method="post">
        {{form.hidden_tag()}}
        {{form.name.label(class="form-label")}}
        {{form.name(class="form-control")}}
        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control")}}
        <br>
        {{form.submit(class="btn btn-dark w-100")}}
    </form>

   
</div>
{% endblock %}